.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Para evitar que o conteúdo fique muito alto */
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 70px); /* Ajusta para considerar o header */
  width: 98%;
  padding: 20px;
}
